* {
    box-sizing: border-box;
  }
    .nav a{ 
      text-decoration: none;
      color: rgb(255, 255, 255);
      display: inline-block;
      padding: 20px;
      margin: 8px;
  }   
      
  .nav{
      background-color:#5c8018;
      font-size: 100%; max-width: 100%;
    
  }
  .icon{
float: right;
text-align: center;

  }

  .secondnav{
      max-width: 100%;
      background-color: rgb(255, 255, 255);
      

  }

  .secondnav a{
     text-decoration: none;
     color: black;
     padding: 5px;
     float: left;
   
  }

  

  .flex-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
     
    .secondnav :hover{
        color: chartreuse;
    }

    .nav :hover{
color: chartreuse;

    }
      

  .flex-container a{
    
      color:black;
      text-decoration: none;
      
padding: 2px;
      max-width: 100%;

  }
  .pic {
      background-color: rgb(87, 87, 87);
      text-align: center;
  }

  
.barwithflex {
    background-color: rgb(65, 99, 65);
    text-align: center;
}


.slide {
     display: flex;
    flex-direction: row;
    max-width: 65%;
}

.stand {
    background-color: green;
    width: 50%;
    height: 500px;
    border: 15px green;
    padding: 50px;
    margin: 20px;
    text-align: center;
    color: white;
    max-width: 35%;



}
.content {
display: flex;


}

.lastbackground a{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 200px;
    height: 400px;


}

.lastbackground {
    background-color: #5c8018;
    text-align: right 30px;    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    margin: 8px;
    height: 400px;
    
}

.floatright {
    float: right;
text-align: center;

}


.last {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3e5400;
    

}


.hardest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.twoinone {
    display: flex;
    flex-direction: row;
    float: right;
    
  
   



}

.left {
    float: left;
}

.right {
    float: right;
}

.oneintwo {
    display: flex;
    flex-direction: row;
    float: left;
   }

   .jjjj {
       float: right;

   }

   .hhhh {
       float: left;

   }

   .tr {
    border-top: 1px solid rgb(167, 164, 164);
    font-size: smaller;
   }



   .tr:hover{
    color: chartreuse;
   }

   .border{
      border: 1px solid gray;
    }

    .border-top{
        border: 1px solid gray;
      }
  

   